.simple-slider-container {

    margin: 20px 0;
  }
  
  .slider-container {
    padding: 2px;
  }
  
  .slider-container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .slider-container h3 {
    text-align: center;
    margin-top: 10px;
  }
  .slick-dots {
    border-radius: 35rem;
  }

  
  .slick-dots li button {
   color: #fff;  
    
  }
  
  .slick-dots li button:hover {
   color: #fff;
  
  }
  .slick-dots li button:before {
    color:#fff;
  }
  

  /* .simple-slider-container{
    width: 100%;
  } */
