.simple-slider-container {

    margin: 20px 0;
  }
  
  .slider-container {
    padding: 2px;
  }
  
  .slider-container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .slider-container h3 {
    text-align: center;
    margin-top: 10px;
  }
  .slick-dots {
    background-color: #cdd1ff;
    border-radius: 35rem;
  }

  .slick-dots:hover {
    background-color: rgba(225, 230, 255, 0.7);
  }
  /* .simple-slider-container{
    width: 100%;
  } */
