.bm-burger-button {
    display: block;
    position: fixed;
    width: 36px;
    left: 20px;
    top: 20px;
}

.bm-burger-bars {
    background: #333333; /* Change to desired color */
}

.bm-menu {
    background: #333333; /* Change to desired color */
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    height: 100%; /* Change to 100% to display all contents */
}

.menu-item {
    text-decoration: none;
    color: #b8b7ad;
    display: block;
    padding: 0.5em 0;
    transition: color 0.3s;
}

.menu-item:hover {
    color: #fff;
}

@media (min-width: 600px) {
    .bm-burger-button {
        display: none;
    }
    .hamburger-icon {
        display: none;
    }
}

.react-burger-cross-btn {
    color: aliceblue;
}
