.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 165px);
    grid-gap: 1rem;
    margin-top: 1.5rem;
}

.centered-grid {
    justify-content: center;
}

.slick-next {
    width: 3rem;
    height: 3rem;
    color: white;
    opacity: 0.7;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
    transition: all 0.3s ease-in-out;
}

.slick-next:hover {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.slick-next:active {
    transition: all 0.1s ease-in-out;
    color: var(--font-color-secondary);
    opacity: 1;
    width: 2.9rem;
    height: 2.9rem;
}

.slick-prev {
    width: 3rem;
    height: 3rem;
    color: white;
    opacity: 0.7;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
    transition: all 0.3s ease-in-out;
}

.slick-prev:hover {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.slick-prev:active {
    transition: all 0.1s ease-in-out;
    color: var(--font-color-secondary);
    opacity: 1;
    width: 2.9rem;
    height: 2.9rem;
}
