.page-favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 80px;
    background-color: #111111;
}

.favorites-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 1200px;
    justify-items: center;
    margin-top: 0; 
    margin-bottom: 0; 
    margin-left: 40px;
    margin-right: 40px;
}

.page-favorites h1 {
    align-self: flex-start;
}

.movies-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }